body {
	background-image: url("https://motionarray.imgix.net/preview-75767-9UDERjFR2N-low_0007.jpg?w=660&q=60&fit=max&auto=format");
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
	font-family: "Ubuntu";
	font-size: 35px;
}

canvas {
	margin-left: 300px;
	border: 4px solid white;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 150px
}

.hidden {
	display: none;
}

#score{
	border: 3px solid white;
	padding: 10px;
	text-align: center;
	margin-left: 200px;
	margin-right: 700px;
}

h1 {
	text-align: center;
	color: #F51212;
	font-size: 5em;
}
